name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: 'pip'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install black flake8 isort mypy types-requests "jax[cpu]"
        
    - name: Check Formatting (Black)
      run: black --check .
      
    - name: Check Imports (Isort)
      run: isort --check-only --profile black .
      
    - name: Lint (Flake8)
      run: flake8 .
      
    - name: Type Check (Mypy)
      run: mypy .

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: quality
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: 'pip'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage pytest "jax[cpu]"
        
    - name: Run Tests
      run: |
        pytest
